@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

/* Globals */
:root {
    --bg: rgb(242, 244, 250);
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    margin: 0;
}

/* Header */
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    background-color: #fff;
    border-bottom: 3px solid rgb(61, 77, 173);
}

.header-logo {
    padding: 0 20px 0 20px;
    font-family: 'Oswald', sans-serif; /* Apply Oswald font */
    font-size: 25px;
    line-height: 90px;
    white-space: nowrap;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    margin: 22px 0px;
    padding: 0px 40px;
    transition: color 0.2s;
}

.header-nav-item:hover, .header-nav-item.active {
    color: rgb(61, 77, 173);
}

.main {
    margin-top: 94px;
}

/* Popover for activies */
.header-nav-item.menu {
    padding-inline: 0;
    margin-block: 0;
    height: 100%;
    display: flex;
    position: relative;
}


.header-nav-item.menu:hover {
    color: inherit;
    background-color: var(--bg);
}

.header-nav-item.menu:hover .popover-menu, .popover-menu:hover {
    height: auto;
}


.popover-menu {
    height: 0;
    z-index: 1;
    overflow: hidden;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    translate: -50%;
    left: 50%;
}

.header-nav-item:hover {
    color: rgb(61, 77, 173);
}

@media screen and (max-width: 800px) {
    .header-nav {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */
footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fadeIn 1s ease forwards; /* Apply fadeIn animation */
}

.Main_text {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;;
    margin: 50px;
    transition: transform 0.4s ease-in-out;
}

input.footer-email {
    width: 40vw;
    height: 5vh;
    padding: 5px;
}

form {
    margin: auto;
    margin: 50px auto;
    text-align: left;
    width: 50vw;
}

.footer-container {
    width: 69vw;
    margin: auto;
}

.details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

button.footer-button {
    height: 5vh;
    width: 10vw;
    background: transparent;
    border: 1px solid black;
    transition:var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s)
}

span.verticle-line {
    border: 1px solid #000000;
    height: 5vh;
    position: absolute;
    left: 53%;
}

span.horizontal-line {
    border: 1px solid black;
    display: block;
    margin: 40px 0 20px 0;
}

button.footer-button:hover{
   background-color: #449DD1;
   color: white;
}

@media screen and (max-width: 800px) {
    .footer-container {
        width: 100%;
    }

    .Main_text {
        margin: 50px 0;
    }

    form {
        width: 90%;
    }

    input.footer-email {
        width: 70%;
    }

    button.footer-button {
        width: 30%;
    }
}