@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



#main-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: rgb(232, 237, 244);
}
/* hero section */

#heading-1{
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 2rem 0;


}
#hero-cont-1{
    width: 100%;
    margin: 0rem auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#hero-image-1{
    min-width: 25rem;
    width: 54%;
    border-radius: 8px;
}

#hero-text-1{
    text-align: center;
    font-size: 22px;
    width: 50%;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 2rem auto;
}

#simple-img-1{
    margin: 2rem auto;
    margin-bottom: 0;
    padding: 0;
    height: 10.35rem;
}

/* teams section */

#heading-2{
    font-size: 2.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 2rem 0;

}

.student-section{
    display: flex;
    justify-content: center;
    margin: 0rem auto;
    gap: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.student-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
}
.student-image{
    width: 14rem;
    border-radius: 4px;
    
}

.student-name{
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    margin: 10px auto;
    letter-spacing: 1px;
}
.student-desig{
    font-size: 1.1rem;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 8px auto;


}
.student-desc{
    font-size: 18px;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 8px auto;
    text-align: center;

}
.student-mail{
    font-size: 1rem;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 4px auto;
    color: rgb(136, 88, 190);


}


.section-2{
    background-color: rgb(231, 242, 233);

}
.section-3{
    background-color: rgb(232, 237, 244);

}


/* footer section */

.get-updates{
    width: 100%;
    background-color: rgb(232, 237, 244);
    
}

.get-updates-text{
    width: 37rem;
    font-size: 2.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 0rem auto;
    padding-top: 1rem;
}

.input-cont{
    display: flex;
    margin: 1.4rem auto;
    padding-bottom: 1rem;
    margin-bottom: 0;
    position: relative;
    width: 41rem;
    justify-content: center;

}

.input-email{
    height: 2.6rem;
    width: 28rem;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}

.submit-button{
    width: 12rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid black;
    font-size: 1rem;

}

.submit-button:hover{
    background-color: rgb(89, 89, 225);
    color: white;
}

.email-text{
    position: absolute;
    background-color: rgb(232, 237, 244);
    padding: 2px;
    top: -12px;
    left: 18px;
    font-family: 'Open Sans', sans-serif;


}

/* media-queries */

@media screen and (max-width: 1530px) {
    #simple-img-1{
        display: none;
    }
    #hero-text-1{
        font-size: 18px;
        
    }
  }
@media screen and (max-width: 700px) {
    .get-updates-text{
        font-size: 1.3rem;
        width: 25rem;
        
    }
    .student-section{
        flex-direction: column;
        align-items: center;
    }
    
  }
@media screen and (max-width: 820px) {
    
    .input-cont{
        width: 30rem;
    
    }
    .get-updates-text{
        font-size: 1.6rem;
        width: 27rem;
        
    }
    
  }
@media screen and (max-width: 510px) {
    
    .input-cont{
        width: 22rem;
    
    }
    .get-updates-text{
        font-size: 1.2rem;
        width:20rem;
        
    }
    
  }
