---
layout: page
title: Team
permalink: /team/
order: 2
picture: /assets/img/open_day/gallery/team.webp
---
{% for object in site.data.team reversed %}
{% assign obj = object[1] %}
<h2 class="year-of-service">{{ obj.year }}</h2>
<div class="team-title">    
    <h3>Convenors</h3>
    <!-- <hr class="hr-glow"> -->
</div>
<ul class="convenor-list item-list">
    {% for person in obj.convenors %}
    <li class="convenor item glow-card">
        <div class="person-image item-image">
            <img src="{{ person.picture | default: '/assets/img/defaults/noprofile.webp' }}" alt="{{ person.name }}" class="">
        </div>
        <div class="person-info">
            <div>
                <h4 class="glow">{{ person.name }}</h4>
                {% if person.bio %}<p>{{ person.bio }}</p>{%- endif -%}
            </div>
            <a class="email" href="mailto:{{ person.email }}">{{ person.email }}</a>
        </div>
    </li>
    {% endfor %}
</ul>
{%- if obj.volunteers -%}
<div class="team-title volunteers">    
    <h3>Volunteers</h3>
    <hr>
</div>
<ul class="member-list item-list">
    {% for person in obj.volunteers %}
    <li class="item glow-card">
        {% if person.picture %}
        <div class="person-image item-image">
            <img src="{{ person.picture | default: '/assets/img/defaults/noprofile.webp' }}" alt="{{ person.name }}" class="">
        </div>
        {% endif %}
        <div class="person-info">
            <h4 class="glow">{{ person.name }}</h4>
            {% if person.role %}<p>{{ person.role }}</p>{%- endif -%}
            <a class="email" href="mailto:{{ person.email }}">{{ person.email }}</a>
        </div>
    </li>
    {% endfor %}
</ul>
{%- endif -%}

{% endfor %}