---
layout: page
title: Team
permalink: /team/
order: 2
picture: /assets/img/open_day/team.webp
---
{% for object in site.data.team reversed %}
{% assign obj = object[1] %}
<h2 class="year-of-service">{{ obj.year }}</h2>
<div class="team-title">    
    <h3>Convenors</h3>
    <hr>
</div>
<ul class="convenor-list">
    {% for person in obj.convenors %}
    <li class="convenor">
        <div class="person-image">
            <img src="{{ person.picture | default: '/assets/img/defaults/noprofile.webp' }}" alt="{{ person.name }}" class="">
        </div>
        <div class="person-info">
            <div>
                <h4>{{ person.name }}</h4>
                {% if person.bio %}<p>{{ person.bio }}</p>{%- endif -%}
            </div>
            <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        </div>
    </li>
    {% endfor %}
</ul>
{%- if obj.volunteers -%}
<div class="team-title volunteers">    
    <h3>Volunteers</h3>
    <hr>
</div>
<ul class="member-list">
    {% for person in obj.volunteers %}
    <li>
        <div class="person-image">
            <img src="{{ person.picture | default: '/assets/img/defaults/noprofile.webp' }}" alt="{{ person.name }}" class="">
        </div>
        <div class="person-info">
            <h4>{{ person.name }}</h4>
            <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        </div>
    </li>
    {% endfor %}
</ul>
{%- endif -%}

{% endfor %}