@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
    --h-font: Oswald, Fantasy;
    --p-font: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}


header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.header-container {
    position: normal;
}


img {
    object-fit: cover;
    
}

.main {
    margin-top: 0;
    font-family: var(--p-font);
    font-weight: 300;
}

.main a {
    text-decoration: underline;
}


h1, h2, h3 {
    font-family: var(--h-font);
    font-weight: 500;
}

/* The text sections */


section h2 {
    font-size: clamp(1.4rem, 2.6vw, 2.6rem);
}

section h3 {
    font-size: clamp(1.3rem, 2.3vw, 2.3rem);
    margin-bottom: 0;
}

section {
    padding-inline: max(10px, 10%);
}

section p {
    text-align: justify;
}