<li class="item glow-card">
    <!-- <h4>
        <span class="post-list-date">{{ post.date | date: "%d %b %Y" }}</span><a href="{{ post.url }}">{{ post.title }}</a>
    </h4> -->
    {% if post %}
        <div>
            <div class="item-image">
                <img src="{{ post.image | default: '/assets/img/defaults/noposter.webp' }}" alt="{{ post.title }}" class="">
            </div>
            <div class="item-info">
                <h4 class="glow">{{ post.title }}</h4>
                <div class="item-meta">
                    <datetime datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ post.date | date: "%d %b %Y" | upcase }}
                    </datetime>
                    <span>{{ post.author }}</span>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ post.url }}" class="boxglow">
                <span class="material-symbols-outlined norm">arrow_forward</span> Read more
            </a>
        </div>
    {% elsif topic %}
            <div>
            <!-- <div class="item-image">
                {% assign slug = topic | slugify %}
                {% assign address = '/assets/img/lectures/' | append: slug | append: '.webp' %}
                <img src="{{ address }}" alt="{{ topic }}" class="" onerror="this.onerror=null;this.src='/assets/img/defaults/notopic.webp';">
            </div> -->
            <div class="item-info">
                <h4 class="glow no-margin">{{ topic }}</h4>
            </div>
        </div>
        <div>
            <a href="/lectures/{{ topic | slugify }}/" class="boxglow">
                <span class="material-symbols-outlined norm">arrow_forward</span> See Lectures
            </a>
        </div>
    {% endif %}
        
</li>