@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');


:root {
  --size--2: clamp(0.5628rem, 0.7402rem + -0.229vw, 0.6944rem);
  --size--1: clamp(0.7502rem, 0.8623rem + -0.1446vw, 0.8333rem);
  --size-0: clamp(1rem, 1rem + 0vw, 1rem);
  --size-1: clamp(1.2rem, 1.1537rem + 0.2313vw, 1.333rem);
  --size-2: clamp(1.44rem, 1.3228rem + 0.5859vw, 1.7769rem);
  --size-3: clamp(1.728rem, 1.5052rem + 1.1141vw, 2.3686rem);
  --size-4: clamp(2.0736rem, 1.6966rem + 1.8848vw, 3.1573rem);
  --size-5: clamp(2.4883rem, 1.8899rem + 2.992vw, 4.2087rem);
  
  // Heading font
  --serif-font: 'Instrument Serif', serif;
  // Body font
  --sans-font: 'Instrument Sans', sans-serif;

  // Colours
  --yellow: rgb(255, 174, 0);
  --bg: rgb(255, 255, 255);
  --foreground: rgb(0, 0, 0);

  --grid-template: repeat(auto-fill, minmax(350px, 1fr));
  --grid-template-smaller: repeat(auto-fill, minmax(200px, 1fr));

  --breakpoint: 768px;

}


nav.navbar {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background: white;
    // border-bottom: .5px solid black;
    color: black;
    .navbar-toggler, .navbar-brand {
      color: black;
    }

    .title-img {
      height: 2.5em;
    }

    .offcanvas {
        height: 100svh;

        .navbar-nav {
            margin: 0;
        }

        .nav-item, .nav-link {
          font-size: var(--size-3);
          font-family: var(--sans-font);
          font-weight: 600;
        }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-font);
  font-weight: 700 !important;
}

main{

  h1 {
    font-size: var(--size-5);
  }
  h2 {
    font-size: var(--size-4);
  }
  h3 {
    font-size: var(--size-3);
  }
  h4 {
    font-size: var(--size-2);
  }
  h5 {
    font-size: var(--size-1);
  }
  p {
    font-size: var(--size-0);
  }

  li, span, a {
    font-size: inherit;
  }

  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 1em;
  }

}



// Utitlity

.bg-yellow {
  background-color: var(--yellow) !important;
  color: black !important;
}

.material-symbols-outlined {
  font-size: inherit;
  margin-top: 0;
  transform: translateY(11.5%);

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  &.large {
    font-size: 1.6em;
  }
}

// Swiper
.swiper {
  .swiper-items > * {
    transition-behavior: allow-discrete;
    transition-duration: 0.3s;
    
    &:not(:first-child) {
      opacity: 0;
      display: none;
    }
    &:first-child {
      opacity: 1;
    }

  }
}


@import "index";
@import "post";
@import "team";
