@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Staatliches&display=swap');


:root {
  --size--2: clamp(0.5628rem, 0.7402rem + -0.229vw, 0.6944rem);
  --size--1: clamp(0.7502rem, 0.8623rem + -0.1446vw, 0.8333rem);
  --size-0: clamp(1rem, 1rem + 0vw, 1rem);
  --size-1: clamp(1.2rem, 1.1537rem + 0.2313vw, 1.333rem);
  --size-2: clamp(1.44rem, 1.3228rem + 0.5859vw, 1.7769rem);
  --size-3: clamp(1.728rem, 1.5052rem + 1.1141vw, 2.3686rem);
  --size-4: clamp(2.0736rem, 1.6966rem + 1.8848vw, 3.1573rem);
  --size-5: clamp(2.4883rem, 1.8899rem + 2.992vw, 4.2087rem);
  
  // Heading font
  --serif-font: 'Source Serif 4', serif;
  // Body font
  --sans-font: 'Instrument Sans', sans-serif;

  --funky-font: 'Staatliches', 'Bebas Neue', 'Arial Narrow Bold', cursive;

  --pixel-font: 'Bytesized', monospace;

  // Colours
  --accent: rgb(255, 225, 0);
  --bg: black;
  --foreground: white;

  --grid-template: repeat(auto-fill, minmax(350px, 1fr));
  --grid-template-smaller: repeat(auto-fill, minmax(200px, 1fr));

  --breakpoint: 768px;

  --glow-inner: #fff5c2;
  --glow-mid: #ffaa00;
  --glow-outer: #ff4800;
  --bg-dark: #050200;

  
  --border-radius: 1em;
  --border-weight: 1px;

  --padding: 2rem 3rem;
}

body {
  background-color: var(--bg);
  color: var(--foreground);
}

nav.navbar {
  padding-block: var(--padding, 2em);
    background: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,0) 70%, rgba(0, 0, 0, 1)),
      linear-gradient(to top, rgba(255, 255, 255,0) 0%, rgba(255, 255, 255,0) 10%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,1) 100%);
    // border-bottom: .5px solid black;
    color: var(--foreground);
    .navbar-toggler, .navbar-brand {
      color: var(--foreground);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60%;
      z-index: -1;
      mask: linear-gradient(black, black, transparent);
      backdrop-filter: blur(10px);
    }

        &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      mask: linear-gradient(black, black, transparent);
      backdrop-filter: blur(5px);
    }

    .navbar-toggler {
      border: none;
      color: var(--foreground);

     &:focus {
      box-shadow: none;
     }
    }
    
    .title-img {
      height: 2.5em;
    }

    .navbar-long-menu {
      font-family: var(--sans-font);
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 2em;

      a {
        color: var(--foreground);
        text-decoration: none;
      }

    }

    .offcanvas {
        height: 100svh;

        .navbar-nav {
            margin: 0;
        }

        .nav-item, .nav-link {
          padding: var(--text-padding, 0.1rem 1rem);
          font-size: var(--size-3);
          margin-bottom: 1rem;
          color: var(--foreground);
          font-family: var(--sans-font);
          font-weight: 600;
        }
  }

  .offcanvas-style {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%), 
    radial-gradient(at 50% 50%, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.2) 100%);
    backdrop-filter: blur(20px) saturate(150%);
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-font);
  font-weight: 700 !important;
}

main{

  h1 {
    font-size: var(--size-5);
  }
  h2 {
    font-size: var(--size-4);
  }
  h3 {
    font-size: var(--size-3);
  }
  h4 {
    font-size: var(--size-2);
  }
  h5 {
    font-size: var(--size-1);
  }
  p {
    font-size: var(--size-0);
  }

  li, span, a {
    font-size: inherit;
  }

  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 1em;
  }

  a {
    text-decoration: none;
  }

}

hr {
  border:0;
  height: var(--border-weight);
  border-radius: var(--border-radius);
}



// Utitlity


.material-symbols-outlined {
  font-size: inherit;
  margin-top: 0;
  transform: translateY(11.5%);

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  &.large {
    font-size: 1.6em;
  }
}



// Picture header

.page-has-picture {
    --mask: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    height: 80svh;
    align-content: end;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: var(--image);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(0.7) contrast;
      z-index: -1;
      mask-image: var(--mask);
    }


    @include media-query($on-laptop) {
      height: 80svh;
    }

    @include media-query($on-palm) {
      height: 40svh;

      .post-title {
        font-size: var(--size-3);
        margin-top: $spacing-unit;
      }
    }
}

.pagetitle {
  // margin-top: 0;
  font-family: var(--funky-font);
}


footer {
  min-height: 100svh;
  align-content: center;
  padding-top: var(--navbar-height, 4rem);

  .footerbox {
    padding: var(--padding, 2rem 3rem);
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;

    @include media-query($on-palm) {
        gap: 2rem;
    }

    & > div {
      width: calc(50% - 3rem);

      @include media-query($on-palm) {
        width: 100%;
        height: 50%;
      }
    }
    
    .footer-left {
      text-align: center;
      align-content: center;

      .scanlines {
        mix-blend-mode: darken;
      }
    }

    .footer-right {
      padding: var(--padding);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .social-links {
        list-style-type: none;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        display: flex;
        gap: 1.5rem;
      }
    }
  }
}

@import "index";
@import "team";
@import "open-day";
@import "post";
@import "utils";
