.gallery {
    columns: 250px;
    column-gap: 1em;

    .gallery-item {
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-bottom: 1em;
        position: relative;

        img {
            width: 100%;
        }

        p {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            margin: 0;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            font-size: var(--size--1);
            
        }

        &:hover p {
            transform: translateY(0);
        }
    }
}