section#intro {
    height: 100svh;
    position: relative;
    animation: flicker 0.1s infinite;
    align-content: center;

    .scanlines {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: repeating-linear-gradient(
    //     to bottom,
    //     transparent 0px,
    //     transparent 2px,
    //     rgba(123, 93, 41, 0.3) 3px,
    //     rgba(121, 121, 121, 0.3) 4px
    // );
    // mix-blend-mode: lighten;
    // pointer-events: none;
    // z-index: 51;
    mask: linear-gradient(to bottom, black, black 95%, transparent); // Ensure the image covers the area without distortion

}
}

.hero-image {
    position: absolute;
    top: 0;
    width: 100svw;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(1.2) brightness(0.7) saturate(1.2) blur(2px);
        mask: linear-gradient(to bottom, black, black 90%, transparent); // Ensure the image covers the area without distortion
    }
}

.hero-banner {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include media-query($on-palm) {
        & {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 90svw;
        }
    }


    .hero-desc {

        .hero-desc-keyword {
            display: inline-block;
            font-family: var(--funky-font);
            font-weight: 800;
            font-size: var(--size-2);
            z-index: 2;
            
        }
        
        .hero-desc-text {
            text-shadow: 
                0 0 1px #fff,
                0 0 2px var(--glow-mid);
                /* Mix blend mode helps the text burn into the background */
            mix-blend-mode: screen;
            font-weight: 300;
            text-align: left;
        }
    }

    .hero-text {
        height: auto;
        // container-type: inline-size;
        width: 100%;
        position: relative;
        text-align: left;
        
    }

    .hero-title {
        font-family: var(--funky-font);
        line-height: 1;
    }

    .hero-subtitle {
        font-family: var(--pixel-font);
        text-shadow: 
            0 0 1px #fff,
            0 0 2px var(--glow-mid);
            /* Mix blend mode helps the text burn into the background */
        mix-blend-mode: screen;
    }
    }

    .noise-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 50;
        opacity: 0.15;
        filter: contrast(150%) brightness(100%);
    }

    .background-dust {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 3px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 2px),
        radial-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1) 2px, transparent 3px);
    background-size: 550px 550px, 350px 350px, 250px 250px;
    background-position: 0 0, 40px 60px, 130px 270px;
    opacity: 0.6;
    z-index: 0;
}
    

@keyframes flicker {
    0% { opacity: 0.98; }
    5% { opacity: 0.95; }
    10% { opacity: 0.98; }
    15% { opacity: 1; }
    20% { opacity: 0.98; }
    25% { opacity: 0.95; }
    30% { opacity: 0.98; }
    35% { opacity: 1; }
    40% { opacity: 0.99; }
    45% { opacity: 0.96; }
    50% { opacity: 1; }
    55% { opacity: 0.98; }
    60% { opacity: 0.95; }
    65% { opacity: 0.98; }
    70% { opacity: 1; }
    75% { opacity: 0.98; }
    80% { opacity: 0.95; }
    85% { opacity: 0.99; }
    90% { opacity: 0.98; }
    95% { opacity: 1; }
    100% { opacity: 0.98; }
}

.section {
    // display: flex;
    padding-block: 2em;
    width: 100svw;
}

.section-title {
    font-family: var(--funky-font);
    // text-transform: uppercase;
    font-size: var(--size-4);
    display: inline-block;
}

#latest-open-day {
    .latest {
        width: 100%;
        overflow: hidden;
        padding: 0;

        .latest-banner {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        @include media-query($on-palm) {
            .latest-banner {
                display: block;
                height: 100%;
            }
        }
    }
}

.newsletter-all-link {
    margin-top: 2rem;
    display: inline-block;
}

.newsletter-box {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;

    @include media-query($on-palm) {
        flex-direction: column;
        gap: 2rem;
    }

    & > div {
        width: calc(50% - 1rem);
        padding: var(--padding);

        @include media-query($on-palm) {
            width: 100%;
        }
    }

    .newsletter-image {
        width: 100%;

        @include media-query($on-palm) {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .newsletter-title {
        @include media-query($on-palm) {
            margin: 0;
        }
    }

    // .newsletter-info {
    //     width: 60%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;

    //     @include media-query($on-palm) {
    //         width: 100%;
    //         text-align: center;
    //     }
    // }
}

@include media-query($on-palm) {
    .section {
        display: block;
    }

    .latest-items {
        height: unset;


        .latest {
            display: block;

            .latest-info, .latest-banner {
                width: unset;
            }
        }
    }
}