.person-image {
    width: 100%;
    height: auto;

    img {
        width: 100% !important;
        aspect-ratio: 1 / 1;
        object-fit: cover !important;
        border-radius: var(--border-radius, 1rem);
    }
}