.convenor-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-block: $spacing-unit;
    gap: 2*$spacing-unit;

    img {
        width: min(33vw, 50%);
        object-fit: cover;
        aspect-ratio: 16/9;
        border-radius: 5px;
    }

    li {
        display: flex;
        gap: 2*$spacing-unit;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        .person-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $spacing-unit;
            width: -webkit-calc(100% - 150px);

            h4 {
                margin: 0;
            }

            p {
                margin: 0;
                font-size: 0.9em;
                color: #555;
            }
        }
    }
}

.team-title {
    display: flex;
    align-items: baseline;
    gap: $spacing-unit;

    h3 {
        display: inline;
        width: 20%;
        margin: 0;

        @include media-query($on-laptop) {
            width: min-content;
            gap: 0;
        }
    }

    hr {
        display: inline;
        width: 100%;
        height: 0;
        border: 0;
        border-bottom: 2px solid #000;
    }
}

.volunteers {
    margin: 3*$spacing-unit 0 $spacing-unit;
}

.member-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2*$spacing-unit;

    li {
        display: flex;
        gap: $spacing-unit;

        .person-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                margin: 0;
            }
            
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        img {
            width: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 5px;
        }
    }

    @include media-query($on-laptop) {
        grid-template-columns: 1fr;
    }
}