---
layout: default
---

<div class="container">
  <a class="boxglow nav-height-adjust" href="{{ site.baseurl }}/lectures/"><span class="material-symbols-outlined norm">arrow_back</span> All Lectures</a>
  <h1 class="pagetitle">{{ page.topic }}</h1>
  
    {{  content }}
      <ul class="item-list">
        {% assign filtered_lectures = site.lectures | where: "topic", page.topic %}
        {% for post in filtered_lectures %}
          {% if post.layout != "topic-page" %}
            {% include post_list.html %}
          {% endif %}
        {% endfor %}
      </ul>
</div>